Fragment
  div(ref='{this.trackRef}',
    onClick='{this.handleClick}',
    className='{cx(trackStyle, status)}')
    Draggable(__jsx='{...dragProps}')

      div(ref='{this.handleRef}',
        className='{cx(handleStyle, status)}')
        div
        //- h5 i am scrollbar


//-           <div  ref={this.trackRef} onClick={this.handleClick} style={{
//-             position: 'relative',
//-             height: this.props.scrollbarWidth,
//-             width,
//-             background: 'lightgray'
//-           }}>
//-           <Draggable 
//-           {...dragProps}
//-           >
//-           <div
//-             ref={this.handleRef}
//-             style={{
//-             position: 'absolute',
//-  width: handleSize, height: this.props.scrollbarWidth, background: 'green',
//- }}
//-           />
//-           </Draggable>
//-           </div>