.root {
  position: relative;
  // border: orange 5px solid;

  
}
.table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  :global(.rwtc-even-row) {
    background:yellow;
  }
  :global(.rwtc-odd-row) {
    background:#fff;
  }
  :global(.rwtc-h-first) {
    background:blue;
  }
  :global(.rwtc-h-last) {
    background:green;
  }
  td {
    :global(.section-top) {
      background:yellow;
    }
    :global(.section-left) {
      background:orange;
    }
    :global(.section-right) {
      background:lightyellow;
    }
    :global(.section-bottom) {
      background:lightgreen;
      // border-bottom: none;
    }
    :global(.section-center) {
      background:lightblue;
    }
    // :global(.cell-h-first) {
    //   background: yellow;
    // }
    // :global(.cell-h-last) {
    //   background: orange;
    // }
    // :global(.cell-v-last) {
    //   background: green;
    // }
    margin: 0;
    vertical-align: top;
    // div {
    //   overflow: hidden !important;
    // }
    position: relative;
    .gridWrap >div {
      position: absolute;
      display: flex;
      overflow:hidden !important;
      -webkit-overflow-scrolling: touch;  -webkit-overflow-scrolling: touch ;
    }
    ::-webkit-scrollbar {
      display: none !important;
      width: 1px !important;
      height: 0 !important;
      background-color: transparent;
      -webkit-appearance: none;
      --webkit-appearance: none;
      // opacity: 0;
      
    }


    ::-webkit-scrollbar:vertical {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
      background-color: transparent;
      -webkit-appearance: none;
      // opacity: 0;
  }
    ::-webkit-scrollbar-button{height:0;width:0}
    ::-webkit-scrollbar-thumb {
      width: 1px !important;
      display: none !important;
    }
    ::-webkit-scrollbar-track{
      width: 1px !important;
      display: none !important;
    }

    -webkit-overflow-scrolling: touch!important; 
    -ms-overflow-style: -ms-autohiding-scrollbar!important;
  }
}
:global(.no-scroll) {
  background: blue !important;
}
:global(.full-scroll) {
  background: red !important;
}
:global(.drr) {
  border: 5px green solid;
}
.bg_50, :global(.odd) {
  // background: #E1F5FE;

  background: #fff;
  display: flex;
  align-items: center;
  
  justify-content: center;
}

.bg_100, :global(.even) {
  // background: #B3E5FC;
  background: #E1F5FE;
  background: #f8f8f0;
  background: yellow;
  display: flex;
  align-items: center;
  
  justify-content: center;
}

.bg_200 {
  background: #81D4FA;
}

.bg_300 {
  background: #4FC3F7;
}

.bg_400 {
  background: #29B6F6;
}