// @import .scss => styles
div(className='{styles.root}')
  div(className='{styles.wrap}',
    ref='{this.scrollWrapRef}',
    onWheel='{this.handleMousewheel}', style='{scrollWrapStyle}')
    div(ref='{this.scrollContentRef}', style='{{ width: "max-content" }}')
      | {this.props.children}
