.root {
  position: relative;
  // border: orange 5px solid;
}
.table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  td {
    padding: 0;
    margin: 0;
    vertical-align: top;
    ::-webkit-scrollbar {
      width: 0;
      height: 0;

      display: none !important;
      width: 0 !important;
      height: 0 !important;
      background-color: transparent;
      /* opacity: 0.5; */
    }
    ::-webkit-scrollbar-thumb {
      display: none !important;
    }
    // -webkit-overflow-scrolling: touch!important; 
    // -ms-overflow-style: -ms-autohiding-scrollbar!important;
  }
}
:global(.no-scroll) {
  background: blue !important;
}
:global(.full-scroll) {
  background: red !important;
}
:global(.drr) {
  border: 5px green solid;
}
.bg_50, :global(.odd) {
  // background: #E1F5FE;

  background: #fff;
  display: flex;
  align-items: center;
  
  justify-content: center;
}

.bg_100, :global(.even) {
  // background: #B3E5FC;
  background: #E1F5FE;
  background: #f8f8f0;
  display: flex;
  align-items: center;
  
  justify-content: center;
}

.bg_200 {
  background: #81D4FA;
}

.bg_300 {
  background: #4FC3F7;
}

.bg_400 {
  background: #29B6F6;
}